.payment-setup-panel
	%h1 Payment
	%br
	%input{:type=>"radio", :name=>"account_type", :value=>"free"} Free
	%br
	%input{:type=>"radio", :name=>"account_type", :value=>"standard"} Standard
	%br
	%input{:type=>"radio", :name=>"account_type", :value=>"professional"} Professional
	%br
	%input{:type=>"radio", :name=>"account_type", :value=>"unlimited"} Enterprise
