.payment-setup-panel
	%h1 Payment
	%br
	%input{:type=>"radio", :name=>"account_type", :value=>"free"} Free
	%br
	%input{:type=>"radio", :name=>"account_type", :value=>"standard"} Standard
	%br
	%input{:type=>"radio", :name=>"account_type", :value=>"professional"} Professional
	%br
	%input{:type=>"radio", :name=>"account_type", :value=>"unlimited"} Enterprise

	%br
	%br

	.container
		.row
			.col-xs-6.col-sm-6.col-md-3.col-lg-3
				.panel.price.panel-red
					.panel-heading.text-center
						%h3 FREE PLAN
					.panel-body.text-center
						%p.lead{:style=> "font-size:20px"}
							%strong $0/month
						%ul.list-group.list-group-flush.text-center
							%li.list-group-item
								%i.icon-ok.text-danger 
								1 project limit
							%li.list-group-item
								%i.icon-ok.text-danger
								1 user
							%li.list-group-item
								%i.icon-ok.text-danger
								Access to FAQ and documentation
						.panel-footer
							%a.btn.btn-lg.btn-block.btn-danger{:href=>"#"} Sign up now!
			.col-xs-6.col-sm-6.col-md-3.col-lg-3
				.panel.price.panel-red
					.panel-heading.text-center
						%h3 STANDARD PLAN
					.panel-body.text-center
						%p.lead{:style=> "font-size:20px"}
							%strong $75/month
						%ul.list-group.list-group-flush.text-center
							%li.list-group-item
								%i.icon-ok.text-danger 
								5 active projects limit
							%li.list-group-item
								%i.icon-ok.text-danger
								2 users
							%li.list-group-item
								%i.icon-ok.text-danger
								24/7 support
						.panel-footer
							%a.btn.btn-lg.btn-block.btn-danger{:href=>"#"} Sign up now!
			.col-xs-6.col-sm-6.col-md-3.col-lg-3
				.panel.price.panel-red
					.panel-heading.text-center
						%h3 GROWING PLAN
					.panel-body.text-center
						%p.lead{:style=> "font-size:20px"}
							%strong $300/month
						%ul.list-group.list-group-flush.text-center
							%li.list-group-item
								%i.icon-ok.text-danger 
								25 active projects limit
							%li.list-group-item
								%i.icon-ok.text-danger
								25 users
							%li.list-group-item
								%i.icon-ok.text-danger
								24/7 support
						.panel-footer
							%a.btn.btn-lg.btn-block.btn-danger{:href=>"#"} Sign up now!
			.col-xs-6.col-sm-6.col-md-3.col-lg-3
				.panel.price.panel-red
					.panel-heading.text-center
						%h3 PROFESSIONAL PLAN
					.panel-body.text-center
						%p.lead{:style=> "font-size:20px"}
							%strong $750/month
						%ul.list-group.list-group-flush.text-center
							%li.list-group-item
								%i.icon-ok.text-danger 
								50 active projects limit
							%li.list-group-item
								%i.icon-ok.text-danger
								50 users
							%li.list-group-item
								%i.icon-ok.text-danger
								24/7 support
						.panel-footer
							%a.btn.btn-lg.btn-block.btn-danger{:href=>"#"} Sign up now!

			%br
			.panel.price.panel-red
				.panel-heading.text-center
					%h3 ENTERPRISE PLAN
				.panel-body.text-center
					%p.lead{:style=> "font-size:20px"}
						%strong Contact us for a quote
					%ul.list-group.list-group-flush.text-center
						%li.list-group-item
							%i.icon-ok.text-danger 
							Unlimited projects
						%li.list-group-item
							%i.icon-ok.text-danger
							Unlimited users
						%li.list-group-item
							%i.icon-ok.text-danger
							24/7 support, plus API access and custom setup
					.panel-footer
						%a.btn.btn-lg.btn-block.btn-danger{:href=>"#"} Sign up now!