%footer
	%div.container
		%div.row
			%div.col-lg-12
				%ul.list-inline
					%li 
					%a{:href=>"#"} Home
					%li.footer-menu-divider 
					%a{ :href=> "#about" } About
					%li.footer-menu-divider &sdot;
					%li
					%a{:href=>"#services"} Support
					%li.footer-menu-divider &sdot;
					%li
					%a{:href=>"#contact"}Contact
					%li.footer-menu-divider &sdot;
					%li.small Copyright &copy; PubLove 2015