%h1 Authors

%p Filter:
%select{:name=>"post[:my_authors]"} 
  %option{:value=>""}
  %option{:value=>"1", :selected=>"selected"} My Authors
  %option{:value=>"2"} All Authors
  %option{:value=>"3"}
%a.invite-au-btn{href: ""} Invite New Author

%table.authors
  %thead
    %tr
      %th First
      %th Last
      %th Email
      %th

  %tbody
    - @authors.each do |author|
      %tr
        %td= author.first_name
        %td= author.last_name
        %td= author.email
        %td Show 
      %tr
        %td
          = author.books.join(", ")

%br