%h1 Authors

%p Filter: My Authors
%a.invite-au-btn{href: ""} Invite New Author

%table.authors
  %thead
    %tr
      %th First
      %th Last
      %th Email
      %th

  %tbody
    - @authors.each do |author|
      %tr
        %td= author.first_name
        %td= author.last_name
        %td= author.email
        %td Show 
      %tr
        %td
          = author.books.join(", ")

%br