%div.intro-header
	%div.container
		%div.row
			%div.col-lg-12
				%div.intro-message
					%h1 Introducing PubLove
					%h3 An integrated solution for draft-to-print publishing
					%hr.intro-divider
%div.content-section-a
	%div.container
		%div.row
			%div.col-lg-5.col-sm-6
				%hr.section-heading-spacer
				%div.clearfix
				%h2.section-heading Work with Authors
				%p.lead Make missed deadlines a thing of the past. Authors receive automatic email reminders about upcoming deadlines, and can upload multiple drafts for you to review. 
			%div.col-lg-5.col-lg-offset-2.col-sm-6
				%img.img-responsive{ :src => "assets/author.jpg", :alt=>""}
%div.content-section-b
	%div.container
		%div.row
			%div.col-lg-5.col-lg-offset-1.col-sm-push-6.col-sm-6
				%hr.section-heading-spacer
				%div.clearfix
				%h2.section-heading Stay Organized
				%p.lead Whether you are managing 6 projects or 60, PubLove provides detailed project tracking tools so you know the status of each and every project. Notifications let you know about upcoming deadlines, author activity, and much more. 
			%div.col-lg-5.col-sm-pull-6.col-sm-6
				%img.img-responsive{ :src => "assets/calendar.jpg", :alt=>""}
%div.content-section-a
	%div.container
		%div.row
			%div.col-lg-5.col-sm-6
				%hr.section-heading-spacer
				%div.clearfix
				%h2.section-heading Collaborate with Teams <br>Big and Small
				%p.lead Our tasking system makes it easy to bring all of your colleagues into the fold and deliver their best work on time.  
			%div.col-lg-5.col-lg-offset-2.col-sm-6
				%img.img-responsive{ :src=>"assets/meeting.jpg", :alt=>""}
%div.content-section-b
	%div.container
		%div.row
			%div.col-lg-5.col-lg-offset-1.col-sm-push-6.col-sm-6
				%hr.section-heading-spacer
				%div.clearfix
				%h2.section-heading Customize Your Toolset
				%p.lead Every publisher has different needs and processes, which is why we've created a suite of modular add-ons that allow you to only pay for the tools you need. From our Table of Contents Creator to our ARC Manager, PubLove provides solutions for every step of the publishing process.
			%div.col-lg-5.col-sm-pull-6.col-sm-6
				%img.img-responsive{ :src => "assets/choices.jpg", :alt=>""}
%div.banner
	%div.container
		%div.row
			%div.col-lg-6
				%h2 Follow PubLove:
			%div.col-lg-6
				%ul.list-inline.banner-social-buttons
					%li
						%a.btn.btn-default.btn-lg{ :href=> "https://twitter.com/SBootstrap"}
							%i.fa.fa-twitter.fa-fw
							%span.network-name Twitter
					%li
						%a.btn.btn-default.btn-lg{ :href=>"https://github.com/IronSummitMedia/startbootstrap"}
							%i.fa.fa-facebook.fa-fw 
							%span.network-name Facebook
					%li
						%a.btn.btn-default.btn-lg{ :href=>"#"}
							%i.fa.fa-linkedin.fa-fw
							%span.network-name LinkedIn