%h1 Your Account

= link_to "Edit Account", edit_user_account_path(@user)

%table
  %tr
    %td Theme
    %td= @preferences.theme if @preferences
  %tr
    %td Time Zone
    %td= @preferences.time_zone if @preferences